<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Dhanu\RestAPI\Api\ApiInterface" type="Dhanu\RestAPI\Model\API"/>
    <preference for="Dhanu\RestAPI\Api\CustomerInterface" type="Dhanu\RestAPI\Model\Customer"/>
</config>